.homepage {
    display: flex;
    width: 80%;
    margin: 0 auto;
 }

 
@media only screen and (max-width: 600px) {

    .homepage {
      display: flex;
      align-items: center;
      justify-content: center;
    }

}