.item {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    h2 {
        padding-top: 20px;
    }

    h4 {

    }

    span {
        padding-bottom: 20px;
    }

    p {
        padding-top: 20px;
    }
}