.nesto {
    display: flex;

    .articles-preview {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 3%;
    }
    
}


@media only screen and (max-width: 900px) {
    .nesto {
        // flex-direction: column;
        // display: block;
    }

}

